@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using BytexDigital.Blazor.Components.CookieConsent
@inject AuthenticationStateProvider AuthStateProvider

<MudThemeProvider Theme="@customTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
    <MudAppBar Elevation="4" Class="position-relative custom-appbar">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" Edge="Edge.Start" OnClick="ToggleDrawer" Size="Size.Large"/>
        <div class="appbar-title-centered mt-3 pb-1">
            <a href="/">
                <img src="img/CC.png" alt="CureCode Logo" style="height:150px;" />
            </a>
        </div>
        <MudSpacer />
        @if (IsLoggedIn)
        {
            <div class="d-none d-md-flex align-items-center">  <!-- solo desktop -->
                <span class="mt-4" style="color:#264653;">Hi, @UserName!</span>
                <MudIconButton Icon="@Icons.Material.Filled.AccountCircle"
                               Color="Color.Secondary"
                               Href="/account/profile"
                               Size="Size.Medium" />

                <MudButton Color="Color.Primary"
                           Variant="Variant.Text"
                           StartIcon="@Icons.Material.Filled.Logout"
                           Href="/account/confirm-logout"
                           Class="me-3"
                           Size="Size.Medium">
                    Logout
                </MudButton>
            </div>

            <!-- versione solo mobile -->
            <div class="d-flex d-md-none align-items-center mt-5">
                <MudIconButton Icon="@Icons.Material.Filled.AccountCircle"
                               Color="Color.Secondary"
                               Href="/account/profile"
                               Size="Size.Medium" />

                <MudIconButton Icon="@Icons.Material.Filled.Logout"
                               Color="Color.Primary"
                               Href="/account/confirm-logout"
                               Size="Size.Medium"
                               Class="ms-2" />
            </div>
        }
        else
        {
            <div class="d-flex flex-column flex-md-row mt-8">
                <MudButton Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.Login"
                           Href="/account/login"
                           Variant="Variant.Text"
                           Class="mb-2 me-md-3"
                           Size="Size.Medium">
                    Login
                </MudButton>

                <MudButton Color="Color.Secondary"
                           StartIcon="@Icons.Material.Filled.AppRegistration"
                           Href="/account/register"
                           Variant="Variant.Text"
                           Class="mb-2 me-md-3"
                           Size="Size.Medium">
                    Register
                </MudButton>
            </div>
        }
    </MudAppBar>
    <MudDrawer @bind-Open="@_open" Style="border-right: 3px solid #E9C46A" Variant="@DrawerVariant.Temporary">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <div class="ms-5 mt-5 ps-2 me-5 pe-2">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<div style="position:fixed; right:20px; bottom:20px; z-index:5000;">
    <MudIconButton Icon="@Icons.Material.Filled.Cookie"
                   Color="Color.Secondary"
                   Size="Size.Large"
                   @onclick="OpenCookieConsentPanelAsync" />
</div>

@code {

    private bool _open = false;
    private bool IsLoggedIn = false;
    private string? UserName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        IsLoggedIn = user?.Identity != null && user.Identity.IsAuthenticated;

        if (IsLoggedIn)
        {
            var firstName = user?.FindFirst("Name")?.Value ?? "";
            var lastName = user?.FindFirst("Surname")?.Value ?? "";

            UserName = $"{firstName} {lastName}".Trim();
        }
    }

    private void ToggleDrawer()
    {
        _open = !_open;
    }

    public MudTheme customTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#2A9D8F", //Verde acqua profondo
            Secondary = "#264653", //Blu petrolio
            Tertiary = "#E9C46A", //Giallo ocra
            Background = "#ffffff", //Grigio chiaro
            AppbarText = "#ffffff",
            AppbarBackground = "#ffffff",
            Error = "#E76F51", //Rosso corallo
            TableHover = "#F1F8F7"
        }
    };

    [Inject] private CookieConsentService CookieConsentService { get; set; }

    private async Task OpenCookieConsentPanelAsync()
    {
        await CookieConsentService.ShowPreferencesModalAsync();
    }
}