<MudNavMenu>
    <div style="text-align:center">
        <MudText Typo="Typo.h6" Class="curecode-brand-nav" Color="Color.Secondary">CureCode</MudText>
    </div>
    <MudDivider Style="border-width:3px; border-color: #E9C46A" />
    <MudNavLink Href="/" Match="NavLinkMatch.All">
        <div class="nav-item-align">
            <MudIcon Icon="@Icons.Material.Filled.Home" Color="@Color.Primary" />
            <MudText Typo="Typo.subtitle1">Home</MudText>
        </div>
    </MudNavLink>
    <MudNavLink Href="/counter">
        <div class="nav-item-align">
            <MudIcon Icon="@Icons.Material.Filled.AddBox" Color="@Color.Primary" />
            <MudText Typo="Typo.subtitle1">Counter</MudText>
        </div>
    </MudNavLink>
    <MudNavLink Href="/weather">
        <div class="nav-item-align">
            <MudIcon Icon="@Icons.Material.Filled.List" Color="@Color.Primary" />
            <MudText Typo="Typo.subtitle1">Weather</MudText>
        </div>
    </MudNavLink>
</MudNavMenu>
